fraud-detection/nifi/templates/Real-Time_Fraud_Detection_System.json
{"flowContents":{"identifier":"255738d4-0329-3833-8013-51a02663d326","instanceIdentifier":"dc7f8db8-0196-1000-ffff-fffff9f422e1","name":"Real-Time Fraud Detection System","comments":"","position":{"x":-1096.0,"y":-320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"27880ccf-9701-3038-9d61-e783511f65ab","instanceIdentifier":"df3906b8-0196-1000-0000-000046cad63e","name":"PutIceberg","comments":"","position":{"x":-336.0,"y":152.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"FAIL_UNMATCHED_COLUMN","file-format":"PARQUET","catalog-service":"ac050b85-dce1-381f-8edf-3e48c20090b1","record-reader":"9c706eec-7fec-347e-9e0c-c87bc6e37dfc","table-name":"fraud_alerts","kerberos-user-service":"d142360e-d6f9-3345-846c-89eb1834a4e3","minimum-commit-wait-time":"100 ms","catalog-namespace":"datamart"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"11710a7f-f7ca-3a46-9cd2-3d5dd2990194","instanceIdentifier":"df38e197-0196-1000-ffff-ffffe180e1ed","name":"ConsumeKafka2RecordCDP","comments":"","position":{"x":-336.0,"y":-504.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"7259da76-fb01-3253-8d03-7046f351d0a9","group.id":"#{CONF_GROUP_FRAUD}","bootstrap.servers":"#{KAFKA_BROKER}","topic_type":"names","sasl.kerberos.service.name":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"e5616f74-b850-3e43-9c79-a925b560ad0f","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":"#{USERNAME}","max.poll.records":"10000","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"9d1fc5f4-de0d-3b61-bcf6-08b8b406f216","key-record-reader":null,"sasl.token.auth":"false","Communications Timeout":"60 secs","topic":"fraud_alerts","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"a96c1807-0067-327a-92f7-558366d18e31","instanceIdentifier":"df84afa6-0196-1000-ffff-ffffc7d51b28","name":"UpdateRecord","comments":"","position":{"x":336.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"/flagged_time":"toDate(/flagged_time, \"yyyy-MM-dd HH:mm:ss.SSS\")","Record Writer":"7259da76-fb01-3253-8d03-7046f351d0a9","Record Reader":"e5616f74-b850-3e43-9c79-a925b560ad0f","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/flagged_time":{"name":"/flagged_time","displayName":"/flagged_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"383d2547-f2be-3481-bc12-66ffc6696aed","instanceIdentifier":"df8b2ddf-0196-1000-ffff-ffffe6a4ef47","name":"MergeRecord","comments":"","position":{"x":344.0,"y":136.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"max-bin-age":"1 minutes","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1000","max-bin-size":null,"record-writer":"7259da76-fb01-3253-8d03-7046f351d0a9","merge-strategy":"Bin-Packing Algorithm","record-reader":"9c706eec-7fec-347e-9e0c-c87bc6e37dfc","max-records":"100000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"e01f05ae-149c-3d94-0000-0000762ec74c","instanceIdentifier":"d1efdb5c-931c-35a0-9a5b-bd5845a088c0","name":"UpdateRecord","comments":"","position":{"x":944.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"/flagged_time":"toDate(/flagged_time, \"yyyy-MM-dd HH:mm:ss.SS\")","Record Writer":"7259da76-fb01-3253-8d03-7046f351d0a9","Record Reader":"e5616f74-b850-3e43-9c79-a925b560ad0f","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/flagged_time":{"name":"/flagged_time","displayName":"/flagged_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd","name":"UpdateRecord","comments":"","position":{"x":952.0,"y":136.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"/flagged_time":"toDate(/flagged_time, \"yyyy-MM-dd HH:mm:ss.S\")","Record Writer":"7259da76-fb01-3253-8d03-7046f351d0a9","Record Reader":"e5616f74-b850-3e43-9c79-a925b560ad0f","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/flagged_time":{"name":"/flagged_time","displayName":"/flagged_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"bfbf6027-8aa2-3dcd-8c0b-747ed9085b50","instanceIdentifier":"df8badc9-0196-1000-0000-0000128b36ca","name":"","source":{"id":"e01f05ae-149c-3d94-0000-0000762ec74c","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"d1efdb5c-931c-35a0-9a5b-bd5845a088c0"},"destination":{"id":"383d2547-f2be-3481-bc12-66ffc6696aed","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"MergeRecord","comments":"","instanceIdentifier":"df8b2ddf-0196-1000-ffff-ffffe6a4ef47"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"94ba0fa4-bfee-32df-b11c-005f126fbb07","instanceIdentifier":"df86108f-0196-1000-0000-0000191c6518","name":"","source":{"id":"11710a7f-f7ca-3a46-9cd2-3d5dd2990194","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"ConsumeKafka2RecordCDP","comments":"","instanceIdentifier":"df38e197-0196-1000-ffff-ffffe180e1ed"},"destination":{"id":"a96c1807-0067-327a-92f7-558366d18e31","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"df84afa6-0196-1000-ffff-ffffc7d51b28"},"labelIndex":0,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"88f34625-f031-39a6-9278-bfba75b06d3c","instanceIdentifier":"df8b94a8-0196-1000-ffff-ffffbc3a7677","name":"","source":{"id":"a96c1807-0067-327a-92f7-558366d18e31","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"df84afa6-0196-1000-ffff-ffffc7d51b28"},"destination":{"id":"383d2547-f2be-3481-bc12-66ffc6696aed","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"MergeRecord","comments":"","instanceIdentifier":"df8b2ddf-0196-1000-ffff-ffffe6a4ef47"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"9e367f2e-0292-3d45-81f7-3360638d7ec1","instanceIdentifier":"df988a2d-0196-1000-ffff-ffffec836fb8","name":"","source":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"destination":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1417.1004638671875,"y":171.0543670654297},{"x":1417.1004638671875,"y":221.0543670654297}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"729ad639-20b5-35da-931c-3e185723591f","instanceIdentifier":"df8b0fb4-0196-1000-0000-000033962268","name":"","source":{"id":"27880ccf-9701-3038-9d61-e783511f65ab","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"PutIceberg","comments":"","instanceIdentifier":"df3906b8-0196-1000-0000-000046cad63e"},"destination":{"id":"27880ccf-9701-3038-9d61-e783511f65ab","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"PutIceberg","comments":"","instanceIdentifier":"df3906b8-0196-1000-0000-000046cad63e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-544.0,"y":232.0},{"x":-544.0,"y":272.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"95d76df1-9609-3a85-bcd5-8ff62c56a477","instanceIdentifier":"df8b817a-0196-1000-ffff-ffff8cbb5b42","name":"","source":{"id":"a96c1807-0067-327a-92f7-558366d18e31","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"df84afa6-0196-1000-ffff-ffffc7d51b28"},"destination":{"id":"e01f05ae-149c-3d94-0000-0000762ec74c","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"d1efdb5c-931c-35a0-9a5b-bd5845a088c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"c5812d3f-28a5-3cf2-b5c7-ff8b8a2e64c2","instanceIdentifier":"df982b20-0196-1000-0000-00003e09e234","name":"","source":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"destination":{"id":"383d2547-f2be-3481-bc12-66ffc6696aed","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"MergeRecord","comments":"","instanceIdentifier":"df8b2ddf-0196-1000-ffff-ffffe6a4ef47"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"cba01741-2542-39ec-a558-349f53be3aa2","instanceIdentifier":"df9818b0-0196-1000-0000-00001c003633","name":"","source":{"id":"e01f05ae-149c-3d94-0000-0000762ec74c","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"d1efdb5c-931c-35a0-9a5b-bd5845a088c0"},"destination":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"aa1f8379-f541-36e4-bf8c-140a4949cfe8","instanceIdentifier":"df988933-0196-1000-0000-0000342bfbb0","name":"","source":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"destination":{"id":"e6d42551-e022-3e1f-ffff-ffff9e97b2c2","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"UpdateRecord","comments":"","instanceIdentifier":"b6acf811-50fa-3537-9948-fa2d6cc2fadd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1417.1004638671875,"y":171.0543670654297},{"x":1417.1004638671875,"y":221.0543670654297}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"3d105d73-1e5b-36ad-b796-4131e65eef50","instanceIdentifier":"df7efd5f-0196-1000-ffff-ffffe3094846","name":"","source":{"id":"11710a7f-f7ca-3a46-9cd2-3d5dd2990194","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"ConsumeKafka2RecordCDP","comments":"","instanceIdentifier":"df38e197-0196-1000-ffff-ffffe180e1ed"},"destination":{"id":"27880ccf-9701-3038-9d61-e783511f65ab","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"PutIceberg","comments":"","instanceIdentifier":"df3906b8-0196-1000-0000-000046cad63e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"dd9fa1f3-d816-397a-8947-a4a526e49e47","instanceIdentifier":"df8c33ba-0196-1000-ffff-ffffb36bfb46","name":"","source":{"id":"383d2547-f2be-3481-bc12-66ffc6696aed","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"MergeRecord","comments":"","instanceIdentifier":"df8b2ddf-0196-1000-ffff-ffffe6a4ef47"},"destination":{"id":"27880ccf-9701-3038-9d61-e783511f65ab","type":"PROCESSOR","groupId":"255738d4-0329-3833-8013-51a02663d326","name":"PutIceberg","comments":"","instanceIdentifier":"df3906b8-0196-1000-0000-000046cad63e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"9d1fc5f4-de0d-3b61-bcf6-08b8b406f216","instanceIdentifier":"df4d48b8-0196-1000-0000-00005c7e3335","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/opt/kafka-conf/cm-auto-global_truststore.jks","Keystore Filename":"/opt/kafka-conf/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"4287e02b-ce2e-3d3c-8956-c2b52f5bf329","instanceIdentifier":"dc80d741-0196-1000-ffff-ffffd009b705","name":"cmluser","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Kerberos Principal":"cmluser@CLOUDEKA.AI"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dc7f8db8-0196-1000-ffff-fffff9f422e1"},{"identifier":"ac050b85-dce1-381f-8edf-3e48c20090b1","instanceIdentifier":"df431a18-0196-1000-0000-0000681b8328","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"hadoop-config-resources":"/etc/hive/conf/hdfs-site.xml,\n/etc/hive/conf/mapred-site.xml,\n/etc/hive/conf/ssl-client.xml,\n/etc/hive/conf/core-site.xml,\n/etc/hive/conf/yarn-site.xml,\n/etc/hive/conf/ozone-site.xml,\n/etc/hive/conf/hive-site.xml,\n/etc/hive/conf/beeline-site.xml","warehouse-location":"/warehouse/tablespace/external/hive","hive-metastore-uri":"thrift://cdpm2.cloudeka.ai:9083,thrift://cdpm3.cloudeka.ai:9083"},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"9c706eec-7fec-347e-9e0c-c87bc6e37dfc","instanceIdentifier":"df7e65f0-0196-1000-0000-0000220e10da","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"fraud_alert_final\",\n  \"fields\": [\n    { \"name\": \"transaction_id\", \"type\": \"string\" },\n    { \"name\": \"account_id\", \"type\": \"string\" },\n    {\n      \"name\": \"amount\",\n      \"type\": {\n        \"type\": \"bytes\",\n        \"logicalType\": \"decimal\",\n        \"precision\": 32,\n        \"scale\": 2\n      }\n    },\n    { \"name\": \"fraud_type\", \"type\": \"string\" },\n    {\n      \"name\": \"flagged_time\",\n      \"type\": {\n        \"type\": \"long\",\n        \"logicalType\": \"timestamp-millis\"\n      }\n    }\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"7259da76-fb01-3253-8d03-7046f351d0a9","instanceIdentifier":"df7d74a6-0196-1000-ffff-ffffb026844b","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-version":null,"encoder-pool-size":"32","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"fraud_alert_final\",\n  \"fields\": [\n    { \"name\": \"transaction_id\", \"type\": \"string\" },\n    { \"name\": \"account_id\", \"type\": \"string\" },\n    {\n      \"name\": \"amount\",\n      \"type\": {\n        \"type\": \"bytes\",\n        \"logicalType\": \"decimal\",\n        \"precision\": 32,\n        \"scale\": 2\n      }\n    },\n    { \"name\": \"fraud_type\", \"type\": \"string\" },\n    {\n      \"name\": \"flagged_time\",\n      \"type\": {\n        \"type\": \"long\",\n        \"logicalType\": \"timestamp-millis\"\n      }\n    }\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"e5616f74-b850-3e43-9c79-a925b560ad0f","instanceIdentifier":"df3d52c4-0196-1000-0000-00005eeca59f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"fraud_alert_input\",\n  \"fields\": [\n    { \"name\": \"transaction_id\", \"type\": \"string\" },\n    { \"name\": \"account_id\", \"type\": \"string\" },\n    { \"name\": \"amount\", \"type\": \"string\" },\n    { \"name\": \"fraud_type\", \"type\": \"string\" },\n    { \"name\": \"flagged_time\", \"type\": \"string\" }\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"},{"identifier":"d142360e-d6f9-3345-846c-89eb1834a4e3","instanceIdentifier":"df672464-0196-1000-ffff-ffffb89c686f","name":"hive-keytab","comments":"","type":"org.apache.nifi.kerberos.KerberosKeytabUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Kerberos Keytab":"/home/nifi/hive.keytab","Kerberos Principal":"hive/cdpm3.cloudeka.ai@CLOUDEKA.AI"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.SelfContainedKerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}},{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"255738d4-0329-3833-8013-51a02663d326"}],"parameterContextName":"FRAUD-KAFKA-CREDENTIAL","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"FRAUD-KAFKA-CREDENTIAL":{"name":"FRAUD-KAFKA-CREDENTIAL","parameters":[{"name":"KAFKA_BROKER","description":"","sensitive":false,"provided":false,"value":"cdpm1.cloudeka.ai:9093,cdpm2.cloudeka.ai:9093,cdpm3.cloudeka.ai:9093"},{"name":"CONF_GROUP_FRAUD","description":"","sensitive":false,"provided":false,"value":"nifi_fraud_detection"},{"name":"USERNAME","description":"","sensitive":false,"provided":false,"value":"cmluser"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}